@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,100,100);

ul, ol {list-style: none}
.slider {
    width: 100%;
    height: 100px;
    overflow: hidden;
    color: #fff;
    margin-top: -50px;
    text-align: center;
}
.slider .text-fixed {
    font-size: 9vw;
    position: absolute;
    left: 50%;
    color: #fff;
            display: flex;
    align-items: center;
    justify-content: center;

}
.slider ul {
    width: calc(100% * 7);
    height: 100px;
}
.slider ul li {
    width: calc(100% / 7);
    height: 100px;
    float: left;
    color: #fff;
    text-align: center;
    position: relative
}
.slider ul li .cont {
    position: absolute;
    top: 55%;
    left: 46%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #fff;
}
.slider ol, .slider .control .fa {
    position: absolute;
}
.slider ol {
    left: 49%;
    transform: translate(-50%, -50%);
    margin-top: -10px;
}
.slider ol li {
    display: inline-block;
    cursor: pointer
}
.slider ol li:hover .fa:before, .slider ol li.active .fa:before {
    content: "\f111";
}
.slider .control .fa:first-of-type {left: 10px; top: 0}
.slider .control .fa:last-of-type {right: 10px; top: 0}
.slider .control .fa {
    cursor: pointer
}


.control {
    margin: 0;
    visibility: hidden;         
    align-items: center;
    justify-content: center;
}